<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @welcome.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @welcome.subtitle %>
</p>

<p>
  <strong>About:</strong>
  <%= @welcome.about %>
</p>

<p>
  <strong>Email:</strong>
  <%= @welcome.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @welcome.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @welcome.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @welcome.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @welcome.longitude %>
</p>

<%= link_to 'Edit', edit_welcome_path(@welcome) %> |
<%= link_to 'Back', welcomes_path %>
